<div class="container" id="esterna">
  <div
    id="interna"
    class="container d-flex flex-column justify-content-center text-center align-items-center"
  >
    <div>
      <h1>
        <i
          class="em em-man_in_business_suit_levitating"
          aria-role="presentation"
          aria-label=""
        ></i>
        <i class="em em-memo" aria-role="presentation" aria-label="MEMO"></i>
        <i
          class="em em-moneybag"
          aria-role="presentation"
          aria-label="MONEY BAG"
        ></i>
      </h1>
    </div>
  </div>
</div>
